[submodule "external/oh-my-claudecode"]
	path = external/oh-my-claudecode
	url = https://github.com/Yeachan-Heo/oh-my-claudecode.git
[submodule "external/context-mode"]
	path = external/context-mode
	url = https://github.com/mksglu/context-mode
[submodule "external/everything-claude-code"]
	path = external/everything-claude-code
	url = https://github.com/affaan-m/everything-claude-code.git
[submodule "external/claude-plugins-official"]
	path = external/claude-plugins-official
	url = https://github.com/anthropics/claude-plugins-official
[submodule "external/superpowers"]
	path = external/superpowers
	url = https://github.com/obra/superpowers.git
